<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter une vidéo</title>
</head>
<body>
<h1>Ajouter une nouvelle vidéo</h1>
<form th:action="@{/videos}" th:object="${video}" method="post">
    <label for="videoName">Nom :</label>
    <input type="text" id="videoName" th:field="*{videoName}"/><br/>

    <label for="videoUrl">URL :</label>
    <input type="text" id="videoUrl" th:field="*{videoUrl}"/><br/>

    <label for="videoDescription">Description :</label>
    <input type="text" id="videoDescription" th:field="*{videoDescription}"/><br/>

    <button type="submit">Ajouter</button>
</form>
<a href="/videos">Retour à la liste des vidéos</a>
</body>
</html>

